experiments/
datasets/
indexes/
datasets/
__pycache__
*.swp
tests/dataset/
tests/index/
tests/exp/
tests/run/
outputs/
wandb/

nih_hash/
runs/
scripts/slurm_scripts/
*.vscode
datasets
experiments
indexes
logs
.gitignore
figs/
