experiments/
__pycache__
*.swp
tests/dataset/
tests/index/
tests/exp/
tests/run/

datasets/
raw_datasets/
indexes/
outputs/

slurm_output/
slurm_output_backup/
experiments/
testbergen_backup/
scripts/slurm_scripts/

generated_queries/

*.DS_Store